<nav class="navbar fixed-top header">
  <div class="container-fluid">
    <div class="row align-middle">
      <div class="col">
        <!-- <a href="{{ "/" | relURL }}" class="navbar-left" title="berendt.io"><img src="{{ "images/logo-23technologies-single.png" | relURL }}" class="logo-23technologies-single" alt="Christian Berendt Logo" title="Christian Berendt"></a> -->
      </div>
      <div class="col">
        <a href="{{ "/" | relURL }}" title="berendt.io"><i class="fa fa-home"></i></a>
      </div>
      <div class="col">
        <a href="mailto:info@berendt.io" title="info@berendt.io"><i class="fa fa-envelope"></i></a>
      </div>
    </div>
  </div>
</nav>
